.card {
	margin: 1em auto; /* space all around card */
	display: flex;
	flex-direction: column;

	max-width: 600px;
	border-radius: 6px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
	overflow: hidden; /* TODO: Study this command */
}