.info-container {
    width: auto;
    height: auto;

    padding: 1%;
}

.info-container {
    color: var(--color-first);
    background-color: var(--color-neutral);

    font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
}